<div class="contact-form">
    {{ form_start(form) }}
    <form>
        <div class="col s12 m6 l6">

            {{form_row(form.title)}}



            {{form_row(form.surface)}}



            {{form_row(form.price)}}


            {{form_row(form.rooms)}}


            {{form_row(form.bedrooms)}}



            {{form_row(form.floor)}}


        </div>
        <div class="col s12 m6 l6">


            {{ form_row(form.address) }}



            {{ form_row(form.department) }}



            {{ form_row(form.postal_code) }}




            {{ form_row(form.description) }}


            <div class="col s12 m6 l6">
                {{ form_row(form.imageFile) }}
                {{ form_row(form.options) }}
            </div>

            <div class="col s12 m6 l6">

                {{ form_row(form.sold) }}
                {{ form_row(form.heat) }}
            </div>

        </div>




        <button class="left waves-effect btn-flat brand-text submit-btn"
            type="submit">{{button|default('Enregistrer')}}</button>
    </form>
    {{ form_end(form) }}
</div>